@use '../abstract' as *;

li + li {
  margin-block-start: $margin-xl;
}

.card {
  display: grid;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-areas: ". compatible ."
                       " . bluetooth ."
                       ". battery ."
                       ". light .";


  &__compatible {
    grid-area: compatible;
  }

  &__bluetooth {
    grid-area: bluetooth;
  }

  &__battery {
    grid-area: battery;
  }

  &__light {
    grid-area: light;
  }

  & [class*='card__icon-'] {
    width: 65px;
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 0.8rem;
  }

  &__title {
    margin-inline: auto;
    max-width: 200px;
    margin-block-start: 3rem;
    margin-block-end: 1.5rem;

    font-size:1.5rem ;
    @extend %ffblack;
  }

  &__paragraph {
    font-size: 1rem;
    line-height: 1.62rem;
  }

  margin-block-end: 6rem;


}

section >
p {
      //margin-inline-start: 3.18rem;

    span {
      @extend %ffmedium;
    }
}

@include breakpoint(tablet) {
  .card {
    display: grid;
    grid-template-columns: 39px 1fr 1fr 98px;
    grid-template-areas: ". compatible bluetooth ."
                         ". battery light .";

    & [class*='card__'] {
      text-align: left;
      margin-inline:0;
    }

    &__compatible {
      margin-block-end: 4.5rem;
    }

    margin-block-end: 142px;

  }
  li + li {
    margin-block-start: 0;
  }
}

