@use '../abstract' as *;

.master {
  display: grid;
  grid-template-columns:1.5rem 1fr 1.5rem;
  row-gap: $margin;
  grid-template-areas: ". texto ."
                       ". group1 group1"
                       "group2 group2 ."
                       ". text2 .";


  &__text {
    grid-area:texto;
  }

  &__main-title {
    @extend %ffblack;
    font-size: $font-lg;
    line-height: 3rem;
  }

  &__main-paragraph {
    @extend %ff500;
    margin-block: $margin-md;
  }

  &__btn-group {
    margin-block-end: $margin-xl;
   @include flex(space-between, center, row);

  & .btn {
      --bg:hsl(22 89% 52%);
      --text: #fff;
      --text-hover:var(--text);
      --bg-hover:hsl(22 100% 69%);
    }

    & > p {
      @extend %ffmedium;
    }
  }

  &__img-group1 {
    grid-area:group1 ;
  }

  &__img-group2 {
    grid-area:group2;

    display: flex;
  }

  &__sqr {
    display: none;
  }

  &__phone {
    min-width: 129px;
    min-height: 193px;
    background-image: url("../../assets/mobile/image-phone-and-keyboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-inline-start: -$margin;
    border-radius: 0.7rem;
  }

  &__glass {
    min-width:220px;
    min-height: 193px;
    background-image: url("../../assets/mobile/image-glass-and-keyboard.jpg");
    background-size: cover;
    margin-inline-start: $margin;
    border-radius: 0.7rem;
  }

  &__main-img {
    min-width: 372px;
    min-height: 331px;
    background-image: url("../../assets/mobile/image-keyboard.jpg");
    background-size: cover;
    border-radius: 0.7rem;
  }

  &__mechanical {
    grid-area: text2;
    margin-block-start: 4.68rem;
    margin-block-end: 6.93rem;
  }

  &__title {
    @extend %ffblack;
    width: min-content;
    margin-inline: auto;
  }

  &__paragraph {
    @extend %ff500;
    margin-block-start: $margin;
  }

}

//////breakpoint tablet

@include breakpoint(tablet) {
  .master {
    $marginQuerie: 2.43rem;
    display: grid;
    grid-template-columns:$marginQuerie 1fr 1fr $marginQuerie;
    row-gap: $margin;
    grid-template-areas: ". texto group1 group1 "
                         ". group2 group2 ."
                         ". texto2 texto2 .";

    &__text {
      margin-block-start: 6.25rem;
    }


    &__main-img {
      min-width: 478px;
      min-height: 425px;
      background-image: url("../../assets/tablet/image-keyboard.jpg");
      background-size: cover;

      margin-inline-start: 4.31rem;
    }

    &__img-group2 {
      grid-area: group2;

    }

    &__phone {
      min-width: 13.37rem;
      min-height: 20rem;
      background-image: url("../../assets/tablet/image-phone-and-keyboard.jpg");
      margin-inline-start: 0;
    }

    &__glass {
      min-width: 445px;
      background-image: url("../../assets/tablet/image-glass-and-keyboard.jpg");

    }

    &__mechanical {
      margin-block-start: 4rem;
      grid-area: texto2;
      @include flex(space-between, center, row);

    }

    &__title {
      text-align: left;
      margin-inline: 0;
    }

    &__paragraph {
      margin-block-start: 0;
      max-width: 398px;
    }
  }
}