
@mixin flex($jC:center, $aI:center, $fD:row) {
  display: flex;
  justify-content: $jC;
  align-items: $aI;
  flex-direction: $fD;
}

%ff500 {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%ffmedium {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%ffblack {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}