
//font family



//font sizes

$font-base: 1rem;

$font-sm: $font-base * 0.75;
$font-md: $font-base * 2;
$font-lg: $font-base * 3;

//spaces

$margin: 1.5rem;
$margin-md:2rem;
$margin-lg:3rem;
$margin-xl:4rem;